.insti-profile .student-name {
  font-size: 22px;
}

/* .similar-table .ant-table,
.similar-table tr:hover,
.similar-table .ant-table-small .ant-table-thead > tr > th {
  background: #000;
  color: white;
  font-weight: 600;
} */
